---
layout: default
---

<div class="page-content">
  <article>
    <div class="post-header">
      <h1>{{ page.title }}</h1>
      <p class="post-meta">
        {{ page.date | date: "%B %e, %Y" }}
        {% if page.category %} &middot; {{ page.category }}{% endif %}
        {% assign tags = page.tags %}
        {% if tags.size > 0 %}
          &middot; {% for tag in tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}
        {% endif %}
      </p>
    </div>

    {{ content }}
  </article>
  {% include mathjax.html %}
</div>
